<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogGraphQl\Model\ProductInterfaceTypeResolverComposite">
        <arguments>
            <argument name="productTypeNameResolvers" xsi:type="array">
                <item name="mageworx_gift_cards_product_type_resolver" xsi:type="object">MageWorx\GiftCardsGraphQl\Model\GiftCardProductTypeResolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Cart\BuyRequest\BuyRequestBuilder">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="mageworx_gift_card_product_options" xsi:type="object">MageWorx\GiftCardsGraphQl\Model\Cart\BuyRequest\GiftCardProductOptionsDataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Schema\Type\Enum\DefaultDataMapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="MageWorxGiftCardTypeEnum" xsi:type="array">
                    <item name="email" xsi:type="string">1</item>
                    <item name="print" xsi:type="string">2</item>
                    <item name="offline" xsi:type="string">3</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
